body {
  margin: 0 0 0 0;
  background:#FFF;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  word-wrap: break-word;
  color: #2a3a4a;
  margin-top: 100px;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

figure {
  width: 100%;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  overflow: auto;
}


figure table {
  width: 100%;
}

.gutter {
  width: 10px;
}

code {
  overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 15px;
}


a {
  text-decoration: none;
  color: black;
}

p > a {
	text-decoration: none;
	color: #706b6b;
}

dark {
	--color-anchor: #77e1cd;
    --color-bg: #1c1c1c;
    --color-blockquote-text: #c0bcbc;
    --color-code-bg: #313030;
    --color-code-text: #fefefe;
    --color-divider: #8b8b8b;
    --color-heading: #dfdfdf;
    --color-table-border: #767676;
    --color-table-row-even: #181818;
    --color-table-row-header: #000;
    --color-table-row-odd: #333333;
    --color-toggle-accent: #a076ce;
    --color-text: #fafafa;
}

.blog-name {
  font-size: 1.5rem;
  display: inline-block;
}

.menu-outer {
  height: 80px;
  background: rgba(255, 255, 255, .95);
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.menu-inner {
  display: inline-block;
  float: right;
}

.menu-inner > a {
  color: #6a737d;
}

.menu-inner a:hover {
  border-bottom: 2px #FFC300 solid;
  color: #000;
}

.menu-inner > .active {
  border-bottom: 2px #FFC300 solid;
  color: #000;
}


.menu {
  margin: 0;
  font-size: 1.1rem;
  height: auto;
  margin-left: 30px;
  display: inline-block;
}

.nav-search > input {
    border: none;
    outline: none;
    background: none;
}

.content {
  display: flex;
  justify-content: center;
}

.content-left {
  background: #fff;
  padding-top: 30px;
  flex: 1;
  overflow: hidden;
}

.content-left .post-list {
  line-height: 45px;
}

.content-right {
  width: 230px;
  flex: 0 0 auto;
}

.content-box {
  background: #fff;
}

.wechat {
  height: 300px;
}

.wechat h3 {
  margin: 0;
  padding: 1em;
}

.content-inner {
  padding-left: 50px;
  padding-right: 50px;
}

.post strong {
  font-weight: bolder;
}

.post .code,
.post pre {
  font-family: monospace, monospace;
  font-size: 1rem;
}

.post hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.post h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}

.post h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 5px;
}

.post h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 5px;
}

.post h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 20px 0;
}

.post h5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 10px 0;
}

.post h6 {
  font-size: 1rem;
  font-weight: 600;
}

.post p {
  margin-top: 1em;
  margin-bottom: 0;
}

.post blockquote {
  padding: 0 1em;
  margin-left: 0;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.post img {
  width: 75%;
  height: 75%;
}

.post-item {
  display: flex;
}

.post-item time {
  text-align: center;
  font-family: serif;
  padding: 2px 30px 10px 0;
  flex: 0 0 auto;
}

.post-item time .post-day {
  font-size: 40px;
  color: #555;
  line-height: 1;
}

.post-item time .post-date {
  font-size: 12px;
  color: #999;
  line-height: 2;
}

.post-item .post-content {
  flex: 1;
  min-height: 100px;
}

.post-item .post-title {
  font-size: 18px;
}

.post-item .post-desc {
  font-size: 13px;
  line-height: 1.3;
  color: #999;
}

.bottom-outer {
  text-align: center;
  padding: 50px;
}

#paginator {
  text-align: center;
  padding: 30px 0;
}


.page-number,
.extend {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #eee;
  margin: 0 5px;
  cursor: pointer;
}

.page-number.current {
  background: transparent;
}

.extend {
  width: 60px;
}



.post > table {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid #ccc 1px;
}

.post > table thead {
  background-color: #e0e0e0;
}

.post > table td {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 13px;
    padding: 10px;
}
.post > table th {
    border-right: 1px solid #ccc;
    padding: 10px;
}

.highlight>table{
  border: none;  
}

.highlight> table td {
  border: none;
  padding: none;
}


@media (min-width: 1200px) {
  .container {
    width: 930px;
  }
}


.container {
  display: flex;
  justify-content: space-between;
}


#local-search-result li{
  list-style: none;
}

#local-search-result li>a{
  font-weight: bold;
}

.search-keyword {
  color: red;
}


/**
 * mobile
 */
.body-mobile .menu-outer .container,
.body-mobile .content .container{
	width: 100%;
}

.body-mobile .content-left {
	padding-top: 0;
}

.body-mobile .menu-outer {
	box-shadow: 0 1px 10px rgba(0,0,0,0.05);
}

.body-mobile .menu-inner{
	display: none;
}

.body-mobile .blog-name {
	margin-left: 50px;
}

